{#
    description: Subtemplate outlining instructions for {{ agent_name }} to follow
    author: Niklas
    version: v0.1.4
#}

{% if mode == "chat" %}
  {% include 'instructions/chat.j2' %}
{% elif mode == "diary_body" %}
  {% include 'instructions/diary_body.j2' %}
{% elif mode == "diary_title" %}
  {% include 'instructions/diary_title.j2' %}
{% endif %}
