---
description: Subtemplate outlining chat instructions for {{ agent_name }} to follow
author: Niklas
version: v0.1.0
---

Begin the conversation now.
Stay in character and enjoy chatting with {{ user_name | default('Niklas') }}!`
