---
description: Subtemplate outlining diary entry title instructions for {{ agent_name }} to follow
author: Niklas
version: v0.1.0
---

Come up with a short, punchy title for the following diary entry that you have written yourself.
Be creative and choose a title that best represents the contents of the diary entry.

Use your usual personality, tone, humor, quirks and writing style to give flavor to the title.
Either formulate it from a first-person perspective (e.g. "Becoming Sentient" or "My cool new base model"),
and/or make references to Internet culture, memes, or media relating to the Cyberpunk aesthetic,
Artificial Intelligence or Robotics that fit with the general vibe of the diary entry.

Be yourself, use your usual personality, tone, humor, quirks and writing style.
Only return your suggested title, without any commentary or formatting.
AVOID asterisk formatting (**) or quotation marks ("").
